schemas/nfl/tournament-v7.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:s="http://feed.elasticstats.com/schema/football/tournament-v7.0.xsd"
           targetNamespace="http://feed.elasticstats.com/schema/football/tournament-v7.0.xsd">
  <xs:element name="tournament" type="s:tournamentType"/>
  <xs:complexType name="teamType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="market" use="optional"/>
        <xs:attribute type="xs:string" name="franchise_id" use="optional"/>
        <xs:attribute type="xs:string" name="seed" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="bracketType">
    <xs:sequence>
      <xs:element type="s:teamType" name="team" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="location" use="optional"/>
  </xs:complexType>
  <xs:complexType name="tournamentType">
    <xs:sequence>
      <xs:element type="s:bracketType" name="bracket" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="location"/>
    <xs:attribute type="xs:string" name="status"/>
    <xs:attribute type="xs:string" name="start_date"/>
    <xs:attribute type="xs:string" name="end_date"/>
  </xs:complexType>
</xs:schema>